 /*Pablo Pérez Álvarez UO294197*/
 /*Especifidad 001*/
 
  /*
 Colores:
 122620 negro texto
 d6ad60 marron fondo
 b68d40 fondo header
 f4ebd0 texto header
 6D0303 links visitados
 022E31 links no visitados
 */
 
 
 body {
	 font-family:'Arial',sans-serif;
	 font-size: 16px; 
	 line-height: 1.5;
     background-color: #d6ad60; 
	 color: #122620; 
	 padding: 4px;
 }


  /*Especifidad 001*/
 h1{
    font-weight: bold;
}

p{
padding:6px;
}

nav{
 font-size: 13px; 	
}


a:link{
color: #022E31; 	
}

a:visited{
color: #6D0303;
}

li{
	
	 list-style-type: circle; 
    color: #122620; 
    font-size: 18px; 
    margin-left: 5px; 
}

ul li{
	
     font-size: 15px; 
    color: #122620;
    margin-left: 3px;
}

ol li{
	
	list-style-type: upper-roman; 
	 font-size: 15px; 
    color: #122620;
    margin-left: 3px;
}



dl {
    margin: 15px; 
    padding: 5px; 
    border: 1px solid #b68d40;
}

/* titulo de lo que se describe*/
dt {
    font-weight: bold;
    font-size: 20px; 
    color: #122620;
    margin-top: 10px; 
}

/* descripciones */
dd {
    margin-left: 20px; 
    font-size: 15px; 
    color: #122620; 
}



table, th, td {
  border: 1px solid #b68d40;
  text-align: center;
}

th{
	 background-color: #b68d40;
	 color: #f4ebd0;
}


video{
	margin: 5px;
}
