 /*Pablo Pérez Álvarez UO294197*/

 
  /*
 Colores:
 122620 negro texto
 d6ad60 marron fondo
 b68d40 fondo header
 f4ebd0 texto header
 6D0303 links visitados
 022E31 links no visitados
 */
 
  /*Especifidad 001*/
 body {
	 font-family:'Arial',sans-serif;
	 font-size: 1em; 
	 line-height: 1.5;
   background-color: #d6ad60; 
	 color: #122620; 
	 padding: 0.25em;
 }


  /*Especifidad 001*/
 h1{
    font-weight: bold;
}


  /*Especifidad 001*/
@media (max-width: 700px) {
  img {
	height: auto;
    width: 100%;
  }
}
 /*Especifidad 001*/
@media only screen and (max-width: 700px) {
  video {
    max-width: 100%;
    height: auto;
  }
}
 /*Especifidad 001*/
p{
padding:0.5em;
}
 /*Especifidad 001*/
nav{
 font-size: 0.9em; 	
}
 /*Especifidad 011*/
/* Hereda color de fondo del contenedor en el que este (header o body)  */
a:link{
color: #022E31; 
	
}

 /*Especifidad 011*/
 /* Hereda color de fondo del contenedor en el que este (header o body)  */
a:visited{
color: #6D0303;
}

 /*Especifidad 001*/
li{
	 list-style-type: circle; 
    color: #122620; 
    font-size: 1.1em; 
    margin-left: 0.4em;
  background-color: #d6ad60; 	
}
 /*Especifidad 002*/
ul li{
	
     font-size: 0.9em; 
    color: #122620;
    margin-left: 0.2em;
	  background-color: #d6ad60; 
}
 /*Especifidad 002*/
ol li{
	
	list-style-type: upper-roman; 
	 font-size: 0.9em; 
    color: #122620;
    margin-left: 3px;
	  background-color: #d6ad60; 
}


 /*Especifidad 001*/
dl {
    margin: 0.9em; 
    padding: 0.4em; 
    border: 1px solid #b68d40;
}

 /*Especifidad 001*/
dt {
    font-weight: bold;
    font-size: 1.2em; 
    color: #122620;
    margin-top: 0.8em; 
	background-color: #d6ad60; 
}

 /*Especifidad 001*/
dd {
    margin-left: 1.4em; 
    font-size: 0.9em; 
    color: #122620; 
	background-color: #d6ad60; 
}

 /*Especifidad 003*/
table, th, td {
  border: 1px solid #b68d40;
  text-align: center;
}
 /*Especifidad 001*/
th{
	 background-color: #b68d40;
	 color: #f4ebd0;
}

 /*Especifidad 002*/
@media (max-width: 700px) {
header + p {
 display: none;
}
}

button:enabled{
  color: #122620; 
  background-color: #b68d40;
  font-size: 0.9em;
  font-weight: bold;
  padding: 0.6em 1.2em; 
  border: 2px solid #122620; 
  padding: 0.6em 1.2em;
  margin: 1em 0;
  border-radius: 0.3em;
}

button:disabled {
  color: #a1a1a1; 
  background-color: #e0e0e0; 
  font-size: 0.9em;
  font-weight: bold;
  padding: 0.6em 1.2em;
  border: 0.1em solid #a1a1a1; 
  border-radius: 0.3em;
  cursor: not-allowed;
  opacity: 0.6; 
  padding: 0.6em 1.2em;
  margin: 1em 0;
  border-radius: 0.3em;
}

main > section > div:first-of-type{
  margin-top: 0.3em;  
  width: 100%;
  max-width: 100vh;
  height: 60vh;
  margin-bottom: 1em;  
}


main > section > div+article{
  width: 100%;
  max-width: 100vh;
  height: 70vh;
  position: relative;
  overflow: hidden;
  border-radius: 1em;
}
 
main > section > div+article > h3{
  width: 100%;
    text-align: center;
    margin-bottom: 0.5em;
    font-size: 2em;
}

main > section > div+article > img{
  width: 100%;
  max-width: 100vh;
  height: 60vh;
  position: absolute;
  transition: all 0.5s;
  object-fit: cover;
  border-radius: 0.5em;
}

main > section > div+article > button{
  position: absolute;
  width: 2em;
  height: 2em;
  padding: 0.5em;
  border: none;
  border-radius: 50%;
  z-index: 10;
  cursor: pointer;
  background-color: #fff;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}
main > section > div+article > button:active{
  transform: scale(1.1);
}

main > section > div+article > button:nth-of-type(2){
  top: 50%;
  left: 2%;
}

main > section > div+article > button:nth-of-type(1){
  top: 50%;
  right: 2%;
}


svg {
    width: 100%;
    max-width: 100vh;
    height: 60vh;  
    display: block;     
    margin-top: 1.3.em;    
  }
  

  input[type="file"] {
    display: inline-block;
    padding: 0.5em 1em;
    font-size: 1em;
    font-weight: bold;
    border: 0.1em solid #b68d40; 
    cursor: pointer;
    border-radius: 0.4em;
}

canvas {
  display: block;
}


section a {
  display: inline-block; /* Espaciado uniforme entre los enlaces */
  margin: 0.5em;
  padding: 0.5em 1em; /* Espaciado interno */
  text-decoration: none; /* Elimina el subrayado */
  color: white; /* Texto en blanco */
  background-color: #b68d40; /* Color del fondo del botón */
  border-radius: 0.3em; /* Bordes redondeados */
  transition: background-color 0.3s ease; /* Transición suave para el hover */
}

